<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" href="/stylesPoi.css">
</head>
<body>
    <h1 th:text="${titulo}"></h1>
    <section>
        <div>
            <div>
                <div>
                    <h4 th:text="${poi.nombre}"></h4>
                    <h4 th:text="${poi.descripcion}"></h4>
                    <h4 th:text="${poi.tipo}"></h4>
                    <ul>
                        <li th:each="categoria : ${poi.getCategorias()}" th:text="${categoria}"></li>
                    </ul>
                </div>
                <div>
                    <h4 th:text="${poi.ciudad}"></h4>
                    <h4 th:text="${poi.direccion}"></h4>
                </div>
            </div>
            <div>
                <div><h4>Ubicación:</h4> <span th:text="'Latitud: '+${poi.localizacion.y} + ' || Longitud: '+${poi.localizacion.x}"></span></div>
                <iframe th:src="@{'https://www.google.com/maps?q=' +${poi.localizacion.y}+ ',' +${poi.localizacion.x} +'&output=embed'}"></iframe>
            </div>
        </div>
    </section>

</body>
</html>